.button {
    margin: 15px;
    width: 100px;
    height: 35px;
    background-color: transparent;
    padding: 2px 30px;
    font-size: 28px;
    /* color: aliceblue; */
    border: none;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
}

.button-danger {
    /* background-color: red; */
    border: 1px solid red;
}
.button-primary {
    /* background-color: dodgerblue; */
    border: 1px solid blue;
}
.neutral{
    /* background-color: grey; */
    border: 1px solid grey;
}
