.container-brotherhood {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.container-brotherhood > div {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.container-brotherhood > div > ul {
    padding: 20px;;
}

.container-brotherhood > div > img {
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}