.container{
    width: 75%;
    height: 100vh;
    background-color: rgb(177, 177, 152);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    background-color: beige;
}
.form > input {
    margin-bottom: 3px;
}

.output{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    background-color: beige;
}

/* .container > button {
    padding: 10px;
} */