.form {
    padding: 30px;
    margin: 10px;
    width: 95%;
    height: 10vh;
    border: 0.5px solid rgb(141, 131, 131);
    border-radius: 20px;
    box-shadow:  4px 4px 8px #9f9e9e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 700px) {
    .form {
        width: 400px; 
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        }
}