.container {
    width: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border: solid 1px brown;
    border-radius: 10px;
    padding: 10px;
}

.container h2 {
    font-size: 15px;
    width: 70%;
}

.container span {
    font-size: 13px;
}

.card {
    padding: 10px 6px 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
}

.card > img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.card button {
    margin-bottom: 10px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}